.home {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-image: url('../../Assets/photo-1604014237800-1c9102c219da.avif');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    opacity: .6;
    visibility: hidden;
}

.hero-content {
    position: absolute;
    top: 35%;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 36rem;
    z-index: 10;
}
.hero-content h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
}

.hero-content h1 strong {
    display: block;
    color: rgb(190 18 60);
    font-weight: 800;
}

.hero-content p {
    font-size: 1.25rem;
    line-height: 1.625;
    width: 100%;
    max-width: 32rem;
    margin-top: 1rem;
}

.hero-btn {
    width: 100%;
    max-width: 32rem;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.hero-btn a {
    text-decoration: none;
    color: rgb(225 29 72);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.75rem 3rem;
    background-color: #fff;
    border-radius: .25rem;
}

#hero-search-btn {
    background-color: rgb(225 29 72);
    color: #fff;
}

#hero-search-btn:hover {
    background-color: rgb(190 18 60);
}

@media screen and (max-width: 761px) {
    .hero-overlay {
        visibility: visible;
    }

    .hero-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hero-btn {
        justify-content: center;
      }
}

.summary {
    width: 100%;
    padding: 4rem 2rem;
    max-width: 1500px;
}

.summary-content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
}

.summary-img-container {
    position: relative;
    height: 100%;
    padding: 4rem 0;
    z-index: 10;
}

.summary-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.summary-text-container {
    background-color: rgb(243 244 246);
    position: relative;
    display: flex;
    align-items: center;
}

.summary-text {
    padding: 6rem;
    display: flex;
    flex-direction: column;
}

.summary-text-container span {
    width: 4rem;
    display: block;
    background-color: rgb(243 244 246);
    position: absolute;
    inset-inline-start: -4rem;
    top: 0;
    bottom: 0;
}

.summary-text h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.summary-text p {
    color: rgb(75 85 99);
    margin-top: 1rem;
}

.summary-text a {
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.75rem 3rem;
    background-color: rgb(79 70 229);
    border: 1px solid rgb(79 70 229);
    border-radius: .25rem;
    margin-top: 2rem;
    width: max-content;
}

.summary-text a:hover {
    background-color: transparent;
    color: rgb(79 70 229);
}

@media screen and (max-width: 761px) {
    .summary {
        padding: 4rem 1rem;
    }

    .summary-content {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .summary-text {
        padding: 1rem;
    }
    .summary-text-container span {
        display: none;
    }
}

.testimonial {
    width: 100%;
    padding: 4rem 2rem;
    max-width: 1280px;
}

.testimonial-container {
    width: 100%;
    gap: 2rem;
    -webkit-columns: 3;
    column-count: 3;
    -webkit-column-fill: balance;
    column-fill: balance;
}

.testimony {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 2rem;
}

.testimony blockquote {
    padding: 1.5rem;
    background-color: rgb(243 244 246);
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
}

.user-data {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.user-data img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.user-dels {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

@media screen and (max-width: 761px) {
    .testimonial-container {
        -webkit-columns: 1;
        column-count: 1;
    }
}